  
  .App{
    margin-left: 35%;
    margin-top:10% ;
    width:400px;
    height:500px;
    background-color: rgba(17, 0, 255, 0.185);
    box-shadow: 0px 0px 12px 2px navy;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .container{
    height: 100px;
    font-size: 18px;
    border-radius: 5px;
    
  }
  
  .item{
    margin-top:10% ;
    margin:10px;
    width:360px;
    height:100px;
    background-color: rgba(17, 0, 255, 0.185);
  }
  
  .item_name{
    margin-top: 15px;
    font-size: 25px;
    color:darkred;
    font-family: cursive;
  }
  
  .item_name div{
    flex: 1;
    display: flex;
    justify-content: center;
    display: inline-block;
  }
  
  
  .calorie_count{
    font-size: 1.2em;
  }
  
  button{
    margin-left: 200px;
    background-color: transparent;
    border: 3px solid navy;
    padding: 3px;
    cursor: pointer;
  }
  
  button:hover{
    background-color:rgba(0, 0, 128, 0.322);
  }
  
  .nodata{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
  }