body{
background-color: darkcyan;
}
.Card{
    margin-left: 100px;
    width:350px;
    border:5px solid black;
    background-color: rgb(204, 198, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 61, 61);
    border-radius: 10px;
    box-shadow: -3px 0px 10px 5px;
}
.image{
    background-image:url(./images/meme.jpg);
    height: 250px;
    width: 350px;
}
.main{
    display: flex;
    flex-direction: row;
    padding:200px;
}