*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}
.topnav{
    background-color: rgb(254, 254, 255);
    padding: 0px 0px;
    visibility: block;
}
#canvas{
    background-image: url(./img/bg3.png);
    height: 100vh;
    width: 380vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.topnav {
    background-color: rgb(0, 0, 0);
    overflow:hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    margin-top: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:rgba(160, 255, 255, 0.63) ;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:rgb(73, 0, 0);
    color: white;
  }
  .material-icons.md-48{
    font-size: 35px;
  }
  main{
    color: white;
    display: inline-block;
}
.latest-report{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  padding-top: 50px;

  color: rgb(255, 247, 206);
  font-size: 30px;
  font-family: 'Frijole', serif;
}
.name{
  color:rgba(0, 230, 230, 0.89);
  font-size: 65px;
  font-family:'Sedgwick Ave Display', serif;
}
.total-cases .value{
  color: rgba(187, 255, 255, 0.801);
}
.recovered .value{
  color:rgba(116, 255, 116, 0.767);
}
.deaths .value{
  color: rgba(250, 69, 69, 0.822);
}
.change-country,
.close{
  cursor: pointer;
}
.search-country{
  position: relative;
  top: 0px;
}
.search-box{
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 400px;
  height: 40px;

  background-color: #111;

  z-index: 1;
}
.search-box input{
  width: 360px;
  height: 25px;

  border: none;

  background-color: transparent;
  color: #FFF;

  padding-left: 15px;

  font-size: 15x;
}
.search-box img{
  width: 25px;
  padding-right: 5px;
  cursor: pointer;
}

.country-list{
  display: flex;

  position: absolute;
  top: 30px;

  width: 400px;
  height: 300px;

  font-family:sans-serif;
  font-size: 18px;

  background-color: #111;
  opacity: 0.8;

  overflow-y: scroll;
}

.country-list ul{
  width: 100%;
}

.country-list ul li{
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: #FFF;
}
.country-list ul li:hover{
  border-left: 3px solid #FFF;
}

 .country-list::-webkit-scrollbar {
  width: 10px;
} 


.country-list::-webkit-scrollbar-track {
  background: #111;
}


.country-list::-webkit-scrollbar-thumb {
  background: #F1F1F1;
} 


.country-list::-webkit-scrollbar-thumb:hover {
  background: #FFF;
}
.hide{
  display: none;
}
/* -------- CHART -------- */
.chart{
  width: 80%;
  height: 70vh;
  min-height: 500px;

  margin: 0 auto;
  padding: 50px 0;
}